/*
* Header
*
*/


.topbar
    background $purple
    color #fff
    padding 8px 10px
    position fixed
    z-index 9
    width 100%

    &__logo
        margin-top 14px

    &__cart
        &--qty
            background-color $purple-dark
            border-radius 15px
            color #fff
            display inline-block
            height 30px
            left -10px
            line-height 20px
            padding 5px
            position relative
            text-align center
            top -5px
            width 30px

