doctype html
html(lang='pt-BR')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Netshoes cart test
        meta(name='description' content='Netshoes cart test.')
        meta(name='robots' content='index, follow')
        meta(name='author' content='William Hoffmann - williamhoffmann@outlook.com')
        meta(name="msapplication-TileColor" content="#5a2d82")
        meta(name="theme-color" content="#5a2d82")

        // Favicon
        link(rel="shortcut icon", href="assets/favicon/favicon.icon")

        // Styles
        link(rel='stylesheet', href='assets/css/main.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')


    body

        // Header
        include ../partials/header

        // Main
        main
            block content

        include ../partials/cart

        script(async src='assets/js/main.js')

