/*
* Preloader
*
*/


#preloader
    background-color rgba(#fff, .8)
    bottom 0
    left 0
    position fixed
    right 0
    top 0
    z-index 1000

    &:before
        background url('assets/img/favicon.ico') no-repeat
        content ""
        height 64px
        position fixed
        width 64px
        animation rotate .9s linear infinite

@keyframes rotate
    0%
        transform rotateY(0deg)
    100%
        transform rotateY(-360deg)
