header.topbar
    .container.clearfix
           .pull-left
               img.topbar__logo(src="assets/img/logo.png")

           .pull-right
               a#open-cart(href="#")
                img(src="assets/img/bag.png")
                span.topbar__cart--qty 0
